<p style="color: green"><%= notice %></p>

<%= render @gas_station %>

<div>
  <%= link_to "Editar posto", edit_gas_station_path(@gas_station) %> |
  <%= link_to "Voltar para postos", gas_stations_path %>

  <%= button_to "Excluir posto", @gas_station, method: :delete %>
</div>
