<p style="color: green"><%= notice %></p>

<%= render @gas_station %>

<% @pumps.each do |pump| %>
  <div>
    <p><strong>Id Bomba:</strong> <%= pump.id%></p>
    <p><strong>Combustível:</strong> <%= pump.fuel_type %></p>
    <p><strong>Capacidade:</strong> <%= pump.capacity %></p>
  </div>
<% end %>


<div>
  <%= link_to "Editar posto", edit_gas_station_path(@gas_station) %> |
  <%= link_to "Voltar para postos", gas_stations_path %>

  <%= button_to "Excluir posto", @gas_station, method: :delete %>
</div>
