<p style="color: green"><%= notice %></p>

<%= render @pump %>

<div>
  <%= link_to "Editar bomba", edit_pump_path(@pump) %> |
  <%= link_to "Voltar para bombas", pumps_path %>

  <%= button_to "Excluir bomba", @pump, method: :delete %>
</div>
