<p style="color: green"><%= notice %></p>

<%= render @pump %>

<div>
  <%= link_to "Edit this pump", edit_pump_path(@pump) %> |
  <%= link_to "Back to pumps", pumps_path %>

  <%= button_to "Destroy this pump", @pump, method: :delete %>
</div>
