<nav>
    <ul>
        <li>
            <a href="<%=new_gas_station_path%>">Novo Posto</a>
        </li>
        <li>
            <a href="<%= new_pump_path %>">Nova Bomba</a>
        </li>
        <li>
            <a href="<%=gas_stations_path%>">Postos</a>
        </li>
        <li>
            <a href="<%= pumps_path %>">Bombas</a>
        </li>
        <li>
            <%= form_tag gas_stations_search_path, method: :get, class: "search-form" do %>
                <%= text_field_tag :name, nil, placeholder: "Pesquisa por nome" %>
                <%= submit_tag "Buscar" %>
            <% end %>
        </li>
    </ul>
</nav>